<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Pizza</title>
</head>
<body>
    <header>        
        <nav>
            <h1>
                Pizzaria Model Tech
            </h1>
            <ul>
                <li><a href="">Início</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <h1>Pizza de mussarela</h1>
        <h2>Descrição</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates dolores quasi velit aut distinctio, incidunt earum omnis ut, veniam, quisquam assumenda ad tenetur voluptatem accusantium minima debitis obcaecati vitae necessitatibus?</p>
        <form action="/pizza" method="POST">
            <input class="botao" type="submit" value="Comprar">
        </form>
    </div>
</body>
</html>